body{
    background-color: azure;
}

h1{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50px;
    color: brown;
}

p{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    color: brown;
    margin-top: -20px;
}

.button-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px;
}

.first-button{
    height: 205px;
    width: 205px;
    margin-top: 20px;
    display: inline-block;
    padding: 0px;
    cursor:pointer;
    transition: transform 1s;
}

.second-button{
    height: 205px;
    width: 205px;
    margin-top: 20px;
    display: inline-block;
    padding: 0px;
    cursor:pointer;
    transition: transform 1s;
}

.third-button{
    height: 205px;
    width: 205px;
    margin-top: 20px;
    display: inline-block;
    padding: 0px;
    cursor:pointer;
    transition: transform 1s;
}

.fourth-button{
    height: 205px;
    width: 205px;
    margin-top: 20px;
    display: inline-block;
    padding: 0px;
    cursor:pointer;
    transition: transform 1s;
}

button:hover{
    transform: scale(1.1);
    border: 2px solid black;
}

.text{
    color: black;
    font-size: 14px;
}

.pravila10{
    display: flex;
    flex-direction:column;
}

.pravila__container{
    width: 25px;
    height: 25px;
}

.pravila__img{
    width: 100%;
    height: 100%;
}

.game-card {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    width: 150px;
    background-color: #fff;
    color: #333;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.game-card:hover .tooltip {
    visibility: visible;
}

@media (max-width:400px){
    h1{
        text-align: center;
        font-family:'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 30px;
        color: brown;
    }

    p{
        text-align: center;
        font-family:'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 15px;
        color: brown;
        margin-top: -20px;
    }
}